:root {
  --primary-color: hsl(30, 10%, 34%);
  --main-header: hsl(24, 5%, 18%);
  --header: hsl(14, 45%, 36%);
  --rose: hsl(332, 51%, 32%);
  --light-rose: hsl(330, 100%, 98%);
  --wrapper: hsl(30, 54%, 90%);
  --background: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--wrapper);
}

body {
  min-height: 100vh;
  padding: 3.5rem;
  border-radius: 2rem;
  background-color: var(--background);
  max-width: 700px;
  margin: 1.5rem auto;
  font-size: 1.6rem;
  color: var(--primary-color);
  font-family: "Outfit", serif;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

h1,
h2 {
  font-family: "Young Serif", serif;
}

h2 {
  color: var(--header);
  letter-spacing: 0.1rem;
  font-weight: 400;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 3rem;
}

hr {
  height: 0.1px;
  background-color: rgb(206, 192, 192);
  border: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header__title {
    font-size: 3.5rem;
    color: var(--main-header);
    letter-spacing: 0.1rem;
    font-weight: 400;
  }

  .header__image {
    border-radius: 2rem;
    overflow: hidden;
  }

  .header__imageSource {
    max-width: 100%;
    height: auto;
  }

  .header__description {
    padding-bottom: 2.5rem;
  }
}

.preparation {
  border-radius: 1rem;
  background-color: var(--light-rose);
  padding: 2.5rem;

  .preparation__heading {
    font-weight: 600;
    color: var(--rose);
  }

  .preparation__item {
    position: relative;
  }

  .preparation__item::marker {
    color: var(--rose);
    font-size: 1rem;
    padding-right: 3rem;
  }

  .preparation__label {
    margin-right: 0.5rem;
    font-weight: 600;
  }
}

.ingredients__item {
  position: relative;

  list-style-type: square;
  &::marker {
    color: var(--header);
  }
}

.instructions__item {
  &::marker {
    color: var(--header);
    font-size: 600;
  }

  .instructions__label {
    margin-right: 0.5rem;
    font-weight: 600;
  }
}

.nutrition {
  .nutrition__table {
    width: 100%;
    border-collapse: collapse;
  }

  .nutrition__table-row {
    height: 4rem;
  }

  .nutrition__table-label {
    border-bottom: 0.1px solid rgb(206, 192, 192);
    padding-left: 3rem;
  }
  .nutrition__table-value {
    border-bottom: 0.1px solid rgb(206, 192, 192);
    padding-left: 1rem;
    color: var(--header);
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0 auto;
  }
  .photo-wrapper {
    margin: -3.5rem -3.5rem 0;
    border-radius: 0;
  }
}
